body {
  margin: 0;
  padding: 0;
  color: #00003C;
  background-color: #FAFAFB;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  color: #00003C;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}
