// COLORS
$color-white: #ffffff;

// SCREEN SIZES
$size-XS: 320px;
$size-SM: 420px;
$size-MD: 768px;
$size-LG: 920px;
$size-XL: 1200px;
$size-XXL: 1752px;

// SPACING

// FONT SIZES
$fontsize-h1-mobile: 40px;
$fontsize-h1-desktop: 80px;
